[submodule "杨毅东"]
	path = 杨毅东
	url = https://github.com/bryant-yangy/homework.git
[submodule "田宇虎"]
	path = 田宇虎
	url = https://github.com/TTYYHH111/homework.git
[submodule "赵睿"]
	path = 赵睿
	url = https://github.com/ChioaR/h0mework.git
[submodule "惠振川"]
	path = 惠振川
	url = https://github.com/Wechuan/homework.git
[submodule "阴明昊"]
	path = 阴明昊
	url = https://github.com/yinmh/homework.git
[submodule "乔天翼"]
	path = 乔天翼
	url = https://github.com/F3ver1/homework.git
[submodule "马少康"]
	path = 马少康
	url = https://github.com/msk666666/homework.git
[submodule "张鹏展"]
	path = 张鹏展
	url = https://github.com/yuzhouwudigaolengnanshen/homework.git
[submodule "王怀乐"]
	path = 王怀乐
	url = https://github.com/SeThrows/HomeWork.git
[submodule "王平"]
	path = 王平
	url = https://github.com/ThePick1011/Homework.git
